body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.app {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}

.header {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.drama-card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  text-align: left;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.drama-card:hover {
  transform: scale(1.05);
}

.drama-card a{
  text-decoration: none;
}

.drama-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.drama-card h2 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.drama-card p {
  font-size: 1rem;
  line-height: 1.5;
}

.drama-card h2:hover{
  color: #f39c12;
}